# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# ML / Data files
# ===============================
*.parquet
*.h5
*.pt
*.pth
*.joblib
*.pkl
*.csv
*.pcap

# ===============================
# Logs & temp
# ===============================
*.log
*.tmp
*.swp

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# ===============================
# Git
# ===============================
.git/index.lock

# ===============================
# OneDrive
# ===============================
~$*

# Ignore Python cache
*.pyc